.marquee-brands {
  border-bottom: 1px solid #e3e3e3;

  .marquee_item {
    display: flex;
    align-items: center;

    .marquee_child {
      margin: 10px 0;

      img {
        height: 70px;
        width: 160px;
        object-fit: contain;
      }
    }
  }
}

.remove-all-filters {
  padding: 5px 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 22.4px;
  border-color: transparent;
  background-color: transparent;
  color: var(--dark);
  font-weight: 400;
  border-radius: 11px;

  .icon {
    font-size: 10px;
  }
}


.text_editor {
  h1 {
    font-size: 35px !important;
    font-weight: 500;
    color: #000;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 25px !important;
    font-weight: 500;
    color: #000;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  p {
    font-size: 16px !important;
    min-height: 16px;
  }

  ul {
    list-style-type: disc;
    padding-left: 30px;

    li {
      list-style-type: disc !important;
      padding-bottom: 10px;
    }
  }

  pre {}

  code {
    white-space: break-spaces;
  }
}

// PAGE LOADER
.main_loader{
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &.fixed{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #fff;
    height: 100%;
  }
}
.page_loader {
  width: 35px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side, #d70200 94%, #0000);
  background:
    var(--_g) 0 0,
    var(--_g) 100% 0,
    var(--_g) 100% 100%,
    var(--_g) 0 100%;
  background-size: 40% 40%;
  animation: l38 .5s infinite;
}

@keyframes l38 {
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0
  }
}