.marquee-brands {
    border-bottom: 1px solid #e3e3e3;

    .marquee_item {
        display: flex;
        align-items: center;

        .marquee_child {
            margin: 10px 0;

            img {
                height: 70px;
                width: 160px;
                object-fit: contain;
            }
        }
    }
}

.remove-all-filters {
    padding: 5px 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    line-height: 22.4px;
    border-color: transparent;
    background-color: transparent;
    color: var(--dark);
    font-weight: 400;
    border-radius: 11px;

    .icon {
        font-size: 10px;
    }
}


.text_editor {
  h1 {
    font-size: 35px !important;
    font-weight: 500;
    color: #000;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 25px !important;
    font-weight: 500;
    color: #000;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  p {
    font-size: 16px !important;
    min-height: 16px;
  }

  ul {
    list-style-type: disc;
    padding-left: 30px;
    li{
        list-style-type: disc !important;
        padding-bottom: 10px;
    }
  }

  pre {}

  code {
    white-space: break-spaces;
  }
}
